ul#bookList li div {
	display: inline-block;
	width: 30%;
}

ul#booklist li span {
	border-style: inset;
	border-color: solid black;
	padding: 3px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	width: 40% !important;
	text-align: center;
}

ul {
	list-style-type: none;
	width: 600px;
}

ul#bookList li  {
		border: 1px solid black;
		padding: 20px;
}
