ul#bookList li div {
	display: inline-block;
	width: 25%;
	float:left;
	margin-top: 10px;
}

ul#booklist li span {
	display: inline-block;
	border-style: outset;
	border-color: solid black;
	padding: 3px;
	margin: 2px;
	float:left;
}

.nameOfBook {
	
}

.bookScore {
	
}

.nameOfAuthor {
	width: 35% !important;
	text-align: center;
}

ul {
	list-style-type: none;
	width: 600px;
}

ul#bookList li  {
		border: 1px solid black;
		padding: 5px;
		height:40px;
}
